.profile-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}

.profile-master {
  background: #f7f7f7;
}

.profile-overview {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #f2f2f2;
  border: 1px solid rgba(0,0,0,.12);

  h2 {
    font-size: 22px;
    margin-left: 10px;
  }
}

.profile-links {
  display: flex;

  p {
    margin: 0 7px;
    color: #237b98;
  }

  p:hover {
    text-decoration: underline;
    color: #1c657d;
  }
}

.content {
  width: 700px;
  margin: 2px auto;
  padding: 0 25px 20px 25px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  h2 {
    color: #237b98;
    font-size: 23px;
    padding-top: 20px;
    margin-bottom: 10px;
  }
}

.content:first-of-type {
  margin-top: 20px;
}

.spacer {
  height: 60px;
  background: #f7f7f7;
}

.review-title, .past-reservation-title {
  font-size: 21px;
  margin-top: 10px;
  font-weight: 570;

  span {
    color: #da3743;
  }

  span:hover {
    color: #c2242e;
  }
}

.review-title {
  margin-bottom: 10px;
  margin-left: 20px;
}

.past-table {
  margin-bottom: 10px;
}

.upcoming-reservation-title {
  font-size: 21px;
}

.upcoming-reservation-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.delete-reservation-button {
  color: white;
  border-radius: 5px;
  text-align: center;
  background: #da3743;
  padding: 4px 7px;
}

.delete-reservation-button:hover {
  background: #c2242e;
}

#profile-reviews > div {
  width: 600px;
  margin: 20px auto;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

#profile-reviews {
  margin-bottom: 35px;
}

.profile-review-item {
  width: 550px;
  margin: auto;
}

.profile-review-ratings {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;

  li {
    color: #666;
  }
}

.profile-review-body {
  margin: 0 30px;
}

.null-profile-text {
  text-align: center;
  font-size: 18px;
}
