.index-page-main {
  margin: auto;
  padding: 30px 0px;
  width: 1100px;
  display: flex;
  justify-content: space-around;
}

.restaurant-search-container-index-view {
  background: #f2f2f2;
  border: .5px solid #ccc;
  width: 100%;
  padding: 5px;
}

.restaurant-search-bar-index-view {
  margin: auto;
  width: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.restaurant-search-bar-index-view > input {
  background: white;
  padding: 5px 15px;
}

.restaurant-search-bar-index-view > button {
  height: 32px;
}

.search-error-container {
  width: 800px;
}

.search-error-text {
  padding-left: 150px;
  // margin: auto;
  // text-align: center;
  color: #c70002;
}

.search-results-container {
  width: 750px;
}

.search-result {
  border-bottom: .5px solid #ccc;
  padding: 15px 0;
}

.search-result:first-of-type {
  padding-top: 0;
}

.search-result-restaurant {
  padding-left: 155px;
}

.restaurant-icon {
  float: left;
  height: 140px;
  width: 140px;
}

.restaurant-name {
  color: #237b98;
  font-size: 18px;
  line-height: 18px;
}

.restaurant-name:hover {
  color: #1c657d;
}

.restaurant-overview {
  color: #666;
}

.light-dollar {
  color: #ccc;
}

// .dollar {
//   color: #666;
// }

.restaurant-blurb {
  font-size: 14px;
  color: #666;
}

// this is a complete dummy case for the coming filters
.index-page-main > ul > li {
  border: 1px solid black;
  padding: 60px;
  margin-bottom: 10px;
}

// this is somewhat similar to what i will eventually want
.search-result-reservation-section {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  button {
    margin: 0;
    margin-right: 10px;
  }
}
