.session-form-container {
  margin: auto;
  width: 400px;
  background-color: #fff;
}

.session-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0 30px 30px;
}
