@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, p, form,
label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: black;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}


input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


// fix homepage css to get rid of this
#root {
  background: #f7f7f7;
  // background:blue;
}
